<%- include('../template/head-start') %>
<%- include('../template/menu-atas') %>

<div class="container pt-3">
    <div class="row d-flex justify-content-center">
        <h1>Halaman Profil</h1>
        <div class="card mt-3 mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/gambar/user-default.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="/profil/edit" class="btn btn-primary float-end">
                            <i class="fa-solid fa-edit"></i>
                        </a>
                        <h5 class="card-title"><%= req.session.user[0].nama_lengkap %></h5>
                        <p class="card-text">
                            <%= req.session.user[0].username %>
                        </p>
                        <h5 class="card-title">Bio</h5>
                        <p class="card-text">
                            <%= req.session.user[0].bio %>
                        </p>
                        <p class="card-text">
                            <small class="text-body-secondary">
                                Last updated: <%= moment(req.session.user[0].last_update).startOf('minute').fromNow() %>
                                <%= moment(req.session.user[0].last_update).format('(DD MMM YYYY HH:mm)') %>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../template/head-end') %>
